/* Header Section Starts*/
#navbar{
    background-color: rgb(231,244,255);
    width: 100%;
    height: 40px;
    margin-top:0px;
    padding-top: 0px;
}
#bnavbar{
    display: flex;
    padding: 10px 10px 10px 25px;
    padding-top: 50px;
    
}
#search{
    border-radius: 50px;
    border: 1px solid black;   
    padding: 10px 10px 10px 30px;
    margin: 10px 10px 10px 30px;
    width: 500px;
    height: 50px;
}
input{
    font-size: 20px;
    border: none;
}
#btn{
    margin-left: 170px;
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}
/* List CSS */
#list{
    display: flex;
    position: relative;
    padding-top: 100px;
   justify-content: space-between;
}
ul{
    display: flex;
    position: relative;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}
ul>li{
    color: black;
    
}
#help{
    margin-right: 30px;
    font-weight: bold;
}
/* end here */
#innerdiv>img{
   height: 300px;
   width: 100%;
}
/* #vl{
    border-right: 2px solid black;
    height: 5px;
} */

#pic{
    margin-top: 50px;
    margin-left: 20px;
}
#bpic{
    margin-top: 100px;
    margin-left: 40px;   
}
/* Grid1 */
#Grid1{
    display: flex;
    margin-top: 50px;
    margin-left: 25px;
    width: calc(100% / var(--desktopWidth));

}
.image{
    width: 250px;
    height: 350px;
    padding-left: 10px;
    padding-right: 10px;
}
#GrH1{
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
}
#Grid1>div>p{
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#BlueGrid{
    margin-top: 100px;
    display: flex;

}
.L6-z {
height: 400px;
width: 400px;
margin-left: 80px;

}
#BlueGrid>div>p{
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 50px;
}
/* finalsale */
